.container{
    width: 100%;
    display: flex;
    background-color: #100E1D;

}
.aside{
    width:25%;
}
.container__details{
    grid-template-columns: repeat(5, 1fr);
}
.content{
    width:75%;
    background-color: #100E1D;
    padding:25px;
}
.container__today h2{
    padding-bottom: 10px;

}
.container__today--items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}