*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: "Raleway", sans-serif;
}

.content{
    width: 100%;
}
.container__details{
    background-color: #100E1D;    
    padding:12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 32px;
}
.container__today{
    background-color: #100E1D;    
    padding:24px;
    color:white
}